{% extends "base_profile.html" %}
{% block settings %}

<li><a href="/profile">Home</a></li>
<li class="active"><a href="/profile/settings">Manage account</a></li>
<li><a href="#contact">Compose twitt</a></li>
          </ul>
        </div>
      </div>
    </nav>
<div class="container">
    <h2>Edit Profile</h2>
  	<hr>
	<div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <img src="..." class="img-thumbnail">
          <h6>Upload a different photo...</h6>
          <input class="form-control" type="file">
        </div>
      </div>
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" value="{{ user.first_name }}" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" value="{{ user.last_name }}" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" value="{{ user.email }}" type="text" disabled="True">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" value="{{ user }}" type="text" disabled="True">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" value="" type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" value="" type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input class="btn btn-primary" value="Save Changes" type="button">
              <span></span>
              <input class="btn btn-default" value="Cancel" type="reset">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
{% endblock %}